@model IEnumerable<Barbearia.Entidades.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/css/usuario.css" rel="stylesheet" />

<div id="div-conteudo-usuarios">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="div-usuarios">
        <h2>Cadastro de Usuários</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Senha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Situacao)
                </th>
                <th></th>
            </tr>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Senha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Situacao)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
</div>

<div id="div-cadastro-usuario">

</div>