@model ReservaSalas.Models.Reservas
@using ReservaSalas.Extensions
@{
    string cdn = Config.GetConfig("URL:CDN");
    string controller = @Model.ControllerName;
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
}

@{
    ViewData["Title"] = "Novo";

    if (Model.TypeView == TypeView.None)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

        <div id='div_breadcrumbs' class='mb-3'>
            <ol class='tbreadcrumb'>
                <li>
                    <a asp-action="Default" asp-controller="Home">
                        <span><i class='fas fa-home'></i> Início</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Index">
                        <span> Gerenciar Reservas</span>
                    </a>
                </li>
                <li>
                    <span> Cadastro de Reservas</span>
                </li>
            </ol>
        </div>

        <div class="app-title mb-4">
            <div>
                <h1><i class="fa fa-dashboard"></i>Gerenciar Reservas</h1>
                <p>Cadastro de Reservas</p>
            </div>
        </div>
    }
}

@Html.Raw(TempData["alert"])

@if (Model.TypeView == TypeView.None)
{
    @Html.Raw("<form method=\"post\" asp-action=\"Create\" asp-controller=\"@controller\" class=\"needs-validation\" novalidate id=\"defaultForm\">")
}

@{
    string DataInicio = DateTime.Today.ToString("dd/MM/yyyy");
    if (Model.DtInicio != DataInicio)
    {
        DataInicio = Model.DtInicio;
    }
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<fieldset class="fieldset-form">
    <legend class='mb-2'>Informações da Reserva</legend>
    <div class="row">
        <div class="col-12">
            <label asp-for="SqSala" class="control-label">Sala</label>
            <div class="form-group">
                @Html.DropDownListFor(model => model.SqSala, new SelectList(Model.SalasDropDownList.Where(x => x.IndAtivo == 1), "Id", "Nome"), "- Selecione -", new { @class = "select form-control form-control-sm reservas-create select-obrigatorio", id = "SqSala" })
                @Html.DropDownListFor(model => model.SqSala, new SelectList(Model.SalasDropDownList.Where(x => x.IndAtivo == 1), "Id", "CapacidadeSala"), "- Selecione -", new { @class = "select form-control form-control-sm reservas-create select-obrigatorio", id = "CapacidadeSala", style = "display:none" })
                @Html.DropDownListFor(model => model.SqSala, new SelectList(Model.SalasDropDownList.Where(x => x.IndAtivo == 1), "Id", "DsRecursos"), "- Selecione -", new { @class = "select form-control form-control-sm reservas-create select-obrigatorio", id = "DsRecursos", style = "display:none" })
                <div id="msgSala" class="alert alert-warning mt-3" style="display:none"><strong>ATENÇÃO!</strong>Sala Departamental - Aguarde e-mail de confirmação da reserva.</div>

                <span asp-validation-for="SqSala" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <label asp-for="IdSolicitante" class="control-label">Solicitante</label>
            <div class="form-group">
                <select id="IdSolicitante" class="form-group select form-control reservas-create select-obrigatorio select-search" asp-for="IdSolicitante">
                    <option value="">- Selecione -</option>
                    @for (int i = 0; i < Model.ReservasSolicitanteApi.Count(); i++)
                    {
                        <option id="@Model.ReservasSolicitanteApi[i].IdSolicitante" value="@Model.ReservasSolicitanteApi[i].IdSolicitante"> @Model.ReservasSolicitanteApi[i].NomeSolicitante</option>
                    }
                </select>
                <span asp-validation-for="IdSolicitante" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <label asp-for="NrParticipante" class="control-label">Número Participante</label> <span id="msgCapacidade" class="field-validation-error" style="display:none; font-weight:bold;"></span>
            <div class="form-group">
                <input id="NrParticipante" asp-for="NrParticipante" class="form-control form-control-sm reservas-create reservas-create-clear" name="NrParticipante" placeholder="" maxlength="4" min="1" required />
                <span asp-validation-for="NrParticipante" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <label asp-for="DsReserva" class="control-label">Motivo da Reserva</label>
            <div class="form-group">
                <input id="DsReserva" asp-for="DsReserva" class="form-control form-control-sm reservas-create reservas-create-clear" name="DsReserva" placeholder="" maxlength="300" required />
                <span asp-validation-for="DsReserva" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-12">
                <label asp-for="DsReservaCompleto" class="control-label">Reserva Complemento</label>
                <div class="form-group">
                    <input id="DsReservaCompleto" asp-for="DsReservaCompleto" class="form-control reservas-create reservas-create-clear" name="DsReservaCompleto" placeholder="" maxlength="1000" />
                    <span asp-validation-for="DsReservaCompleto" class="text-danger"></span>
                </div>
            </div>*@
        <div class="col-12">
            <label asp-for="DsObservacao" class="control-label">Observação</label>
            <div class="form-group">
                <input id="DsObservacao" asp-for="DsObservacao" class="form-control form-control-sm reservas-create reservas-create-clear" name="DsObservacao" placeholder="" maxlength="500" />
                <span asp-validation-for="DsObservacao" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <label asp-for="DtInicio" class="control-label">Data</label>
            <div class="form-group">
                <input type="text" id="DtInicio" class="form-control form-control-sm datepicker data-pt" name="DtInicio" value="@DataInicio" readonly="readonly" required />
                <span asp-validation-for="DtInicio" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <label asp-for="HrInicio" class="control-label">Hora Início</label>
            <div class="form-group">
                <input id="HrInicio" asp-for="HrInicio" class="form-control form-control-sm reservas-create reservas-create-clear timepicker" name="HrInicio" placeholder="" readonly="readonly" maxlength="5" required />
                <span asp-validation-for="HrInicio" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <label asp-for="HrFim" class="control-label">Hora Fim</label>
            <div class="form-group">
                <input id="HrFim" asp-for="HrFim" class="form-control form-control-sm reservas-create reservas-create-clear timepicker" name="HrFim" placeholder="" readonly="readonly" maxlength="5" required />
                <span asp-validation-for="HrFim" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-12">
                    <label asp-for="IndIntranet" class="control-label">Intranet</label>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.IndIntranet, new[] { new SelectListItem { Text = "Não", Value = "N" }, new SelectListItem { Text = "Sim", Value = "S" } }, new { @class = "select form-control reservas-create select-obrigatorio" })
                        <span asp-validation-for="IndIntranet" class="text-danger"></span>
                    </div>
                </div>
            <div class="col-12">
                <label asp-for="IndAtivo" class="control-label">Ativo</label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.IndAtivo, new[] { new SelectListItem { Text = "Sim", Value = "1" }, new SelectListItem { Text = "Não", Value = "0" } }, new { @class = "select form-control reservas-create select-obrigatorio" })
                    <span asp-validation-for="IndAtivo" class="text-danger"></span>
                </div>
            </div>*@
    </div>
</fieldset>

<fieldset class="fieldset-form mt-3">
    <legend class='mb-2'>Recursos</legend>
    <div id="recursos" class="row">
        <div class="col-12">
            <div id="msgRecursoExis" class="alert alert-warning" style="display:none">
                <span id="msgRecursoExistente" class="field-validation-error" style="display:none; font-weight:bold;"></span>
            </div>
        </div>
        <div class="col-12">
            <label asp-for="Recursos.SqRecurso" class="control-label">Recurso</label>
            <div class="input-group mb-3">
                @Html.DropDownListFor(model => model.Recursos.SqRecurso, new SelectList(Model.RecursosDropDownList.Where(x => x.IndAtivo == 1 && x.IndFixo == "N"), "Id", "Nome"), "- Selecione -", new { @class = "select form-control form-control-sm reservas-create select-obrigatorio id='SqRecurso'", id = "SqRecurso" })
            </div>
        </div>

        <div class="col-12">
            <label asp-for="Recursos.QntRecurso" class="control-label">Quantidade</label>
            <div class="form-group">
                <input id="QntRecurso" type="text" asp-for="Recursos.QntRecurso" class="form-control form-control-sm reservas-create reservas-create-clear" onkeypress="somenteNumeros(num);" name="Recursos.QntRecurso" placeholder="" maxlength="4" min="1" />
            </div>
            <div id="msgRecurso" class="alert alert-danger w-100 mt-3" style="display:none">Para solicitar algum recurso, preencha as informações acima.</div>
        </div>

        <div class="col-12">
            <input id="addRecurso" asp-action="Recurso" asp-route-origem="Create" type="submit" value="Inserir" class="btn btn--primary float-right" />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div>
                <table class="table table-striped table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Recurso</th>
                            <th>Quantitade</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            if (Model.RecursosTableList != null && Model.RecursosTableList.Count > 0)
                            {
                                foreach (var item in Model.RecursosTableList)
                                {
                                    if (item.IndDeletado == 0)
                                    {
                                        <tr>
                                            <td>@item.DsRecurso</td>
                                            <td>@item.QntRecurso</td>
                                            <td>
                                                <button asp-action="DeleteRecurso" asp-route-id="@item.DsRecurso" asp-route-origem="Create" data-toggle='popover' data-trigger='hover' data-content='Excluir' class='btn btn-outline-dark btn-sm'><i class='fas fa-trash'></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="3" class="text-center">Não há item selecionado</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</fieldset>

<div class="row">
    <div class="col-12 mt-3">
        <input asp-action="Create" type="submit" value="Salvar" class="btn btn-success float-right" />
    </div>
</div>


@if (Model.TypeView == TypeView.None)
{
    @Html.Raw("</form>")
}



@section Scripts {
    <script src="~/js/common.js"></script>
    <script type="text/javascript">

        /* --------------------- Aceita Apenas Números ---------------------------- */
        function somenteNumeros(num) {
            var er = /[^0-9.]/;
            er.lastIndex = 0;
            var campo = num;
            if (er.test(campo.value)) {
                campo.value = "";
            }
        }
        /*----------------------------*/
        $(document).ready(function () {
            $('.select-search').select2();

            if ($('#SqSala').val() != "") {
                if ($('#IdSolicitante').val() != "") {
                    if ($('#NrParticipante').val() != "") {
                        if ($('#DsReserva').val() != "") {
                            if ($('#DtInicio').val() != "") {
                                if ($('#HrInicio').val() != "") {
                                    if ($('#HrFim').val() != "") {
                                        $('html').animate({ scrollTop: $('html')[0].scrollHeight }, 500);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        });

        var SqSala;
        $("#SqRecurso").val('');
        $("#QntRecurso").val('');

        $('#addRecurso').on('click', function (e) {
            if ($('#SqRecurso').val() == "" || $('#QntRecurso').val() == "") {
                $('#msgRecurso').show();
                e.preventDefault();
            }
        });

        var nomeSala = $('#SqSala').find(":selected").text();
        var salaDepartamental = nomeSala.toUpperCase().indexOf("DEPARTAMENTAL") > -1 ? true : false;

        if ($('#SqSala').val() != 0 && salaDepartamental) {
            $('#msgSala').show();
        } else {
            $('#msgSala').hide();
        }

        if ($('#SqSala').val() != 0) {
            $('#msgCapacidade').show();
        } else {
            $('#msgCapacidade').hide();
        }

        if ($('#SqSala').val() != 0) {
            $('#CapacidadeSala').val($('#SqSala').val());
            var capacidade = $('#CapacidadeSala').find(":selected").text();
            var msgCapacidade = ' - A sala selecionada disponibiliza ' + capacidade + ' cadeiras.';
            document.getElementById("msgCapacidade").innerHTML = msgCapacidade;

            $('#DsRecursos').val($('#SqSala').val());
            var dsRecursos = $('#DsRecursos').find(":selected").text();
            if (dsRecursos != "") {
                var msgRecurs = 'A sala selecionada possui o(s) seguinte(s) recurso(s): ' + dsRecursos + '.';
                document.getElementById("msgRecursoExistente").innerHTML = msgRecurs;
                $('#msgRecursoExistente').show();
                $('#msgRecursoExis').show();
            } else {
                $('#msgRecursoExistente').hide();
                $('#msgRecursoExis').hide();
            }
        }       

        $('#SqSala').on('click', function () {
            var nomeSala = $('#SqSala').find(":selected").text();
            var salaDepartamental = nomeSala.toUpperCase().indexOf("DEPARTAMENTAL") > -1 ? true : false;   

            if ($('#SqSala').val() != 0 && salaDepartamental) {
                $('#msgSala').show();
            } else {
                $('#msgSala').hide();
            }

            if ($('#SqSala').val() != 0) {
                $('#msgCapacidade').show();
            } else {
                $('#msgCapacidade').hide();
            }

            $('#SqSala option:selected').each(function () {
                SqSala = this.value;
                if (SqSala != 0) {
                    $('#CapacidadeSala').val(SqSala);
                    var capacidade = $('#CapacidadeSala').find(":selected").text();
                    var msgCapacidade = ' - A sala selecionada disponibiliza ' + capacidade + ' cadeiras.';
                    document.getElementById("msgCapacidade").innerHTML = msgCapacidade;

                    $('#DsRecursos').val(SqSala);
                    var dsRecursos = $('#DsRecursos').find(":selected").text();
                    if (dsRecursos != "") {
                        var msgRecurs = 'A sala selecionada possui o(s) seguinte(s) recurso(s): ' + dsRecursos + '.';
                        document.getElementById("msgRecursoExistente").innerHTML = msgRecurs;
                        $('#msgRecursoExistente').show();
                        $('#msgRecursoExis').show();
                    } else {
                        $('#msgRecursoExistente').hide();
                        $('#msgRecursoExis').hide();
                    }
                }
            });
        });

        $('#SqRecurso').removeClass('input-validation-error');
        $('#QntRecurso').removeClass('input-validation-error');
        $('#SqRecurso').removeClass('input-validation-error');
    </script>
}